In [75]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [76]:
path=r"C:\Users\deepa\Downloads\50_Startups.csv"
d=pd.read_csv(path,usecols=['R&D Spend','Administration','Marketing Spend','Profit'])

In [77]:
d=d/10000

In [78]:
np.random.seed(9)
d=d.sample(5)
np.round(d)

    R&D Spend  Administration  Marketing Spend  Profit
21        8.0            15.0             30.0    11.0
37        4.0             5.0             20.0     9.0
2        15.0            10.0             41.0    19.0
14       12.0            16.0             26.0    13.0
44        2.0            15.0              3.0     7.0

In [79]:
df=d.iloc[:,0:-1]
df=np.round(df)

In [80]:
df.head()

    R&D Spend  Administration  Marketing Spend
21        8.0            15.0             30.0
37        4.0             5.0             20.0
2        15.0            10.0             41.0
14       12.0            16.0             26.0
44        2.0            15.0              3.0

In [81]:
df.iloc[0,0]=np.nan
df.iloc[-1,-1]=np.nan
df.iloc[3,1]=np.nan

In [82]:
df0=df.copy()
df.head()

    R&D Spend  Administration  Marketing Spend
21        NaN            15.0             30.0
37        4.0             5.0             20.0
2        15.0            10.0             41.0
14       12.0             NaN             26.0
44        2.0            15.0              NaN

In [83]:
for cols in df.columns:
    df[cols]=df[cols].fillna(df[cols].mean())

In [84]:
# this is the 0th iteration i have filled the nan values with the mean of their respective columns
df.head()

    R&D Spend  Administration  Marketing Spend
21       8.25           15.00            30.00
37       4.00            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.25            26.00
44       2.00           15.00            29.25

In [85]:
df0.head()

    R&D Spend  Administration  Marketing Spend
21        NaN            15.0             30.0
37        4.0             5.0             20.0
2        15.0            10.0             41.0
14       12.0             NaN             26.0
44        2.0            15.0              NaN

In [ ]:
for i in range(50):
    curr=df.copy()
    newdf=[]
        for cols in curr.columns:
            newdf.append(curr[]